.gallery1
{
	margin: 25px 50px;
       
        
}

.gallery1 img
{
   padding:15px;
   transition:1s;
   width:250px;
   border-radius:10%;
}

.gallery1 img:hover
{
  filter:grayscale(100%);
  transform: scale(1.1);
}