.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:60xp;
    overflow:hidden;
    /*0.781 makes image transparent
    color for previous bg= rgba(93, 238, 93, 0.781)*/
    
    background-color:rgb(10, 200, 30);
}
.navbar
{
    position: fixed;
    top: 15%;
	 z-index:99;
}
.bgimage
{
    opacity: 0.9;
    filter:alpha(opacity=70);
}
.navbar ul li
{
    border-right: 1px solid rgb(255, 255, 255);
    float: left;    
	position: sticky;
}
.navbar ul li :last-child
{
    border-right: none;
	position:sticky;
}
.navbar ul li a
{
    display: block;
    padding: 8px;    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    transition: ease-out 0.7s;
      -webkit-transition: ease-out 0.7s;

}
.navbar ul li a:hover
{
    background-color: rgb(1, 82, 21);
    box-shadow: inset 0 100px 0 0 rgb(1, 82, 21);
}
.trend:hover
{ text-shadow: inset 0 100px 0 0 rgb(1, 82, 21);

}


.navbar ul li a:active
{
    background-color: green;
}
.active
{
    background-color: rgb(10, 200, 30);
}

.container {
    position: relative;
    text-align: center;
    color:white;
  }
  .top-left {
    position: absolute;
    font-size: relative;
    top: 8px;
    font-family: Georgia;
    left: 30px;
    font-style:oblique;
  }
  .main-heading
  {
      position: absolute;
      font-size: relative;
      top:50px;
      font-family: Georgia;
      left:220px;
      font-style:oblique;
      
  }
  .main-heading h2
  {      
      color:white;
      font-family: Georgia;
      font-size: 55px;      
  } 
  .shadow 
  { 
     color: white;
     text-shadow: 1px 1px #111111, 
                  2px 2px #111111, 
                  3px 3px #111111, 
                  4px 4px #111111, 
                  5px 5px #111111 , 
                  6px 6px #111111;
  }

  .main {
    background-image: url("images/bg-white.jpg");
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
	margin: 55px 50px;
  
  }

  .footer-div
  {
      background-color:rgb(10, 200, 30);
      margin-bottom: 0;
      height: 200px;
      width: 100%;
  }

  .footer-div-top ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:60xp;
    overflow:hidden;
    /*0.781 makes image transparent
    color for previous bg= rgba(93, 238, 93, 0.781)*/    
    background-color:rgb(10, 200, 30);
  }

  .footer-div-top ul li
  {
      float: left;
  }
  .footer-div-top ul li a
  {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;    
    font-size: 20px;
    transition: ease-out 0.6s;
    -webkit-transition: ease-out 0.6s;
    text-decoration: none;
  }
  .copyright h3
  {      
      color: white;
      float: left;
      position: relative;
      bottom: -90;
      left: 10;
      margin-bottom: 0;
  }
 

  .stayconnected
  {
      color:white;
      position: relative;
      bottom: -50;
        right: -40;
      float: right;
      width: 250px;
  }
  .stayconnected ul li a img
  {
      width:25px;
      height: 25px;
      display: block;      
  }

  .stayconnected ul li
  {
    list-style-type: none;
    padding: 10px;
    float: right;
  }

  .stayconnected ul
  {
    margin: -30;   
    margin-right: 50; 
  }
  .stayconnected h3
  {
      float:center;
      text-align: center;
  }
 .slide-left
 {
	 top:80%;
	 background-color:rgb(10, 200, 30);
       left:20%;  
 }
  .slide-right
 {
	 top:80%;
	 background-color:rgb(10, 200, 30);
     
 }
 

 .mySlides
 {
	     display:none;
		overflow:hidden;
	     border-radius:20;
		 z-index:99;
		 top:50%;
		 left:160%;
 }
 .mySlides1
 {
	 display:block;
	 border-radius:20;
	visibility:visible;
 }
 .txt
 {opacity:0.2;
	 font-size:30px;
	 color:rgb(10, 200, 30);
	 overflow:hidden;
 }
 .img1
 {
	 background-image:green.jpg;
	 width:30%;
	 height:30%;
	 opacity:0.9;
 }
 
.info
{
	text-align:justify;
}